# Asset PostgreSQL
ASSET_DB_USER=asset_user
ASSET_DB_PASSWORD=change-me
ASSET_DB_NAME=asset_db
ASSET_DB_PORT=5433

# InfluxDB
INFLUXDB_PORT=8086
INFLUXDB_ADMIN_USER=admin
INFLUXDB_ADMIN_PASSWORD=change-me
INFLUXDB_ORG=centralized-monitoring
INFLUXDB_BUCKET=server_metrics
INFLUXDB_ADMIN_TOKEN=change-me

# RabbitMQ
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=change-me
RABBITMQ_AMQP_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

# NGINX
NGINX_PORT=8080